.sprinkler {
  background: url('../../../shared/img/sprinkler.jpg');
}

.modal-overlay {
  background: pink;
  position: fixed;
  top: 20vh;
  left: 25vw;
  /* right: 10vw; */
  /* bottom: 10vh; */
  width: 50vw;
  height: 70vh;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: scale(0.3);
  transition: 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: scale(1);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: scale(0.3);
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

figure.snip0016 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: left;
}
figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0016 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0016 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}
figure.snip0016 figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016 h2,
figure.snip0016 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s,
    -o-transform 0.35s, transform 0.35s;
}
figure.snip0016 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0016 h2 span {
  font-weight: 800;
}
figure.snip0016 p {
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0016 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0016:hover img {
  opacity: 0.3;
}
figure.snip0016:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
figure.snip0016:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

.single-works {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
  /* box-shadow: 5px 5px 15px #000; */
}

.single-works img {
  width: 350px;
  height: 300px;
  margin: 0 10px;
}

.single-works .title {
  font-size: 25px;
  font-weight: 700px;
  color: tomato;
  margin: 0 0 15px 0;
  padding-top: 20%;
}

.overlat-text .post {
  display: block;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.single-works .overlay-text {
  width: 100%;
  height: 100%;
  font-size: 10px;
  color: #fff;
  background: rgba(154, 27, 40, 0.856);
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s ease 0s;
}

.single-works .overlay-text button {
  position: relative;
  z-index: 3;
}

.single-works .overlay-text:before {
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  left: 30px;
  right: 30px;
}
.single-works .overlay-text:after {
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  top: 30px;
  bottom: 30px;
}

.single-works .overlay-text:before,
.single-works .overlay-text:after {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  z-index: 1;
  transform: scale(1.5);
  transition: all 0.6s ease 0.2s;
}

.single-works:hover {
  transform: translateY(-8px);
}
.single-works:hover .overlay-text {
  opacity: 1;
}
.single-works:hover .overlay-text:before,
.single-works:hover .overlay-text:after {
  opacity: 1;
  transform: scale(1);
}
