header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  /* background: #161415 url('../../shared/img/header-background.jpeg') no-repeat
    top center; */
  /* background: linear-gradient(to right, rgb(246, 246, 248), rgb(227, 227, 227)); */
  background: rgb(214, 215, 212);
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .banner {
  display: inline-block;
  /* vertical-align: middle; */
  margin: 0 auto;
  width: 85%;
  /* padding-bottom: 30px; */
  text-align: center;
}

header .banner-text {
  width: 100%;
  font: 80px/1.1em 'Proxima Nova', sans-serif;
  font-weight: 400;
  /* font: 80px/1.1em 'opensans-bold', sans-serif; */
  color: rgb(6, 255, 213);
  /* text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8); */
  letter-spacing: 2px;
  margin: 15vh auto 0;
}

header .banner-text #hello {
  font-size: 160px;
  font-weight: 600;
  color: rgb(154, 27, 40);
}

header .banner-text #im {
  font-size: 97px;
  font-weight: 200;
  margin: 0 auto 0;
  /* color: rgb(154, 27, 40); */
  color: rgb(45, 45, 72);
}
header .banner-text #yehor {
  font-size: 97px;
  margin: 0 auto 0;
  font-weight: 600;
  color: rgb(214, 135, 43);
}
header .banner-text .whoami {
  color: rgb(11, 72, 88);
}
header .banner-text #webdev {
  margin: -15px auto -10px;
  font-size: 75px;
  font-weight: 400;
  color: rgb(154, 27, 40);
  letter-spacing: -7px;
}
header .banner-text #where {
  margin: -10px auto -30px;
  font-size: 30px;
  font-weight: 200;
  color: rgb(45, 45, 72);
  letter-spacing: 0px;
}
header .banner-text #creativity {
  margin: -10px auto -10px;
  font-size: 90px;
  font-weight: 600;
  color: rgb(214, 135, 43);
  letter-spacing: -2px;
}
header .banner-text #and {
  margin: -10px auto -10px;
  font-size: 90px;
  font-weight: 400;
  color: rgb(45, 45, 72);
  letter-spacing: 1px;
}
header .banner-text #code {
  margin: -10px auto -10px;
  font-size: 90px;
  font-weight: 600;
  color: rgb(11, 72, 88);
  letter-spacing: 3px;
}
header .banner-text #meet {
  margin: -10px auto -10px;
  font-size: 87px;
  font-weight: 800;
  letter-spacing: 1px;
  background: linear-gradient(to right, rgb(214, 135, 43), rgb(11, 72, 88));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .banner-text #container {
  width: fit-content;
  margin: auto;
}

#acCreat {
  font-weight: 800;
  font-size: 80px;
}
#acImpr {
  font-weight: 800;
  font-size: 63px;
}
#acPass {
  font-weight: 800;
  font-size: 65px;
}
#acOpen {
  font-weight: 800;
  font-size: 55px;
}
#acData {
  font-weight: 800;
  font-size: 61px;
}

#slide {
  -webkit-animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 8.5s
    both;
  animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 8.5s both;
}

header .banner-text #construction {
  letter-spacing: 5px;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 100%;
  }
}

/* header social links */
header .social {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

header .social li i {
  color: #fff;
}
header .social li i:hover {
  color: rgb(43, 122, 74);
  font-size: 45px;
  animation: roll 0.5s;
  transition: all;
}

@keyframes roll {
  0% {
    color: #fff;
    transform: rotate(0);
  }
  100% {
    color: rgb(43, 122, 74);
    transform: rotate(360deg);
  }
}

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .scrolldown a:hover {
  color: #11abb0;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.opaque {
  background-color: rgb(51, 51, 51);
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: rgb(97, 97, 97);
}

ul#nav li a:active {
  background-color: transparent !important;
}
ul#nav li.current a {
  color: #f06000;
}

.Typist {
  display: inline;
}

.Typist .Cursor {
  display: inline-block;
  color: black;
}

.Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#resume {
  color: white;
}
