header {
  position: relative;
  /* height: 850px; */
  /* min-height: 850px; */
  width: 100%;
  /* background: #161415 url('../../shared/img/header-background.jpeg') no-repeat
    top center; */
  /* background: linear-gradient(to right, rgb(246, 246, 248), rgb(227, 227, 227)); */
  /* background: rgb(214, 215, 212); */
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .banner {
  display: inline-block;
  /* vertical-align: middle; */
  margin: 0 auto;
  width: 85%;
  /* padding-bottom: 30px; */
  text-align: center;
}

header .banner-text {
  width: 100%;
  font-size: 80px;
  line-height: 1.1em;
  font-weight: 400;
  /* font: 80px/1.1em 'opensans-bold', sans-serif; */
  color: rgb(6, 255, 213);
  /* text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8); */
  letter-spacing: 2px;
  margin: 15vh auto 0;
}

header .banner-text #hello {
  font-size: 160px;
}

header .banner-text #im {
  font-size: 97px;
  font-weight: 200;
  margin: 0 auto 0;
}
header .banner-text #yehor {
  font-size: 97px;
  margin: 0 auto 0;
}

header .banner-text #webdev {
  margin: -15px auto -10px;
  font-size: 75px;
  font-weight: 400;
  letter-spacing: -7px;
}
header .banner-text #where {
  margin: -10px auto -30px;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 0px;
}
header .banner-text #creativity {
  margin: -10px auto -10px;
  font-size: 90px;
  letter-spacing: -2px;
}
header .banner-text #and {
  margin: -10px auto -10px;
  font-size: 90px;
  font-weight: 400;
  color: rgb(45, 45, 72);
  letter-spacing: 1px;
}
header .banner-text #code {
  margin: -10px auto -10px;
  font-size: 90px;
  letter-spacing: 3px;
}
header .banner-text #meet {
  margin: -10px auto -10px;
  font-size: 87px;
  font-weight: 800;
  letter-spacing: 1px;
  background: linear-gradient(to right, rgb(214, 135, 43), rgb(11, 72, 88));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .banner-text #container {
  width: fit-content;
  margin: auto;
}

#acCreat {
  font-weight: 800;
  font-size: 80px;
}
#acImpr {
  font-weight: 800;
  font-size: 63px;
}
#acPass {
  font-weight: 800;
  font-size: 65px;
}
#acOpen {
  font-weight: 800;
  font-size: 55px;
}
#acData {
  font-weight: 800;
  font-size: 61px;
}

#slide {
  -webkit-animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 8.5s
    both;
  animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 8.5s both;
}

header .banner-text #construction {
  letter-spacing: 5px;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 100%;
  }
}

/* header social links */
header .social {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

header .social li i {
  color: #fff;
  animation-name: llor;
  animation-duration: 1s;
  transition: all;
}
header .social li i:hover {
  color: rgb(11, 72, 88);
  animation: roll 1s;
  transition: all;
  font-size: 45px;
}

@keyframes roll {
  0% {
    color: #fff;
    transform: rotate(0);
    font-size: 30px;
  }
  100% {
    color: rgb(11, 72, 88);
    transform: rotate(360deg);
    font-size: 45px;
  }
}
@keyframes llor {
  0% {
    color: rgb(11, 72, 88);
    transform: rotate(360deg);
    font-size: 45px;
  }
  100% {
    color: #fff;
    transform: rotate(0);
    font-size: 30px;
  }
}

.Typist {
  display: inline;
}

.Typist .Cursor {
  display: inline-block;
  color: black;
}

.Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
