#nav-wrap ul,
#nav-wrap .link,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 13px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.opaque {
  background-color: rgb(51, 51, 51);
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
}
ul#nav .link {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav .link span {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
  cursor: pointer;
  width: fit-content;
  display: inline-block;
  padding: 8px 10px;
  margin: 0 10px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: rgb(97, 97, 97);
}

ul#nav .link span:active {
  background-color: transparent !important;
}
a.current > span {
  color: rgb(214, 135, 43) !important;
}
