/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  /* header styles
   ------------------------------------------------------------------ */
}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 960px) {
  /* header styles
   ------------------------------------------------------------------ */
  header .banner-text {
    letter-spacing: -1px;
  }

  header .banner-text #webdev {
    letter-spacing: -7.5px;
  }
  header .banner-text #where {
    letter-spacing: -0.5px;
  }
  header .banner-text #creativity {
    letter-spacing: -3px;
  }
  header .banner-text #and {
    letter-spacing: 0px;
  }
  header .banner-text #code {
    letter-spacing: 3px;
  }
  header .banner-text #meet {
    letter-spacing: -1px;
  }

  #grid-container-skills {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 230px 230px 430px;
  }
  #col1row1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #col2row1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #col3row1 {
    grid-column: 1/2 !important;
    grid-row: 2/3;
  }
  #col4row1 {
    grid-column: 2/3 !important;
    grid-row: 2/3;
  }

  #col1row2 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #col2row2 {
    grid-column: 1/3 !important;
    grid-row: 4/5;
  }
}
/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  /*  navigation
   -------------------------------------------------------------------- */
  #nav-wrap {
    font: 11px 'Proxima Nova', sans-serif;
    letter-spacing: 1.5px;
  }

  /* Header Styles
   -------------------------------------------------------------------- */

  header .banner-text #hello {
    font-size: 129px;
  }

  header .banner-text #im {
    font-size: 85px;
    letter-spacing: -2px;
  }
  header .banner-text #yehor {
    font-size: 80px;
    letter-spacing: -2px;
    margin-bottom: -15px;
  }

  #acCreat {
    font-size: 68px;
  }
  #acImpr {
    font-size: 56px;
    letter-spacing: -2px;
  }
  #acPass {
    font-size: 56px;
  }
  #acOpen {
    font-size: 47px;
  }
  #acData {
    font-size: 53px;
  }

  header .banner-text #webdev {
    font-size: 59px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: -5px;
    line-height: 0;
  }
  header .banner-text #where {
    font-size: 26px;

    letter-spacing: -1px;
  }
  header .banner-text #creativity {
    font-size: 73px;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 0;
    letter-spacing: -2px;
  }
  header .banner-text #and {
    font-size: 73px;

    letter-spacing: 1px;
  }
  header .banner-text #code {
    font-size: 73px;

    letter-spacing: 3px;
  }
  header .banner-text #meet {
    margin-top: -19px;
    font-size: 71px;
    letter-spacing: 1px;
  }

  /* header social links */
  header .social {
    font-size: 24px;
  }
  header .social li {
    margin: 0 15px;
  }

  /* scrolldown link */
  header .scrolldown {
    display: none;
  }

  .label {
    font-size: 14pt;
  }

  .text {
    font-size: 11pt;
  }
}

/* mobile narrow
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
  /* mobile navigation
   -------------------------------------------------------------------- */
  #nav-wrap {
    font: 12px 'opensans-bold', sans-serif;
    background: transparent !important;
    letter-spacing: 1.5px;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
  }
  #nav-wrap > a {
    width: 48px;
    height: 48px;
    text-align: left;
    background-color: #cc5200;
    position: relative;
    border: none;
    float: right;

    font: 0/0 a;
    text-shadow: none;
    color: transparent;

    position: relative;
    top: 0px;
    right: 30px;
  }

  #nav-wrap > a:before,
  #nav-wrap > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
  }
  #nav-wrap > a:after {
    top: 60%;
  }

  /* toggle buttons */
  #nav-wrap:not(:target) > a:first-of-type,
  #nav-wrap:target > a:last-of-type {
    display: block;
  }

  /* hide menu panel */
  #nav-wrap ul#nav {
    height: auto;
    display: none;
    clear: both;
    width: auto;
    float: right;

    position: relative;
    top: 12px;
    right: 0;
  }

  /* display menu panels */
  #nav-wrap:target > ul#nav {
    display: block;
    /* padding: 30px 20px 48px 20px; */
    background: #1f2024;
    margin: 0 30px;
    clear: both;
  }

  /* header styles
   -------------------------------------------------------------------- */

  header .banner-text {
    margin: 9vh auto 0;
    font-size: 97px;
  }
  header .banner-text #hello {
    font-size: 97px;
  }

  header .banner-text #im {
    font-size: 67px;
    letter-spacing: -2px;
  }
  header .banner-text #yehor {
    font-size: 61px;
    letter-spacing: -2px;
    margin: -25px 0 -55px;
  }

  #acCreat {
    font-size: 53px;
  }
  #acImpr {
    font-size: 42px;
    letter-spacing: -2px;
  }
  #acPass {
    font-size: 42px;
  }
  #acOpen {
    font-size: 35px;
  }
  #acData {
    font-size: 40px;
  }

  header .banner-text #webdev {
    font-size: 47px;
    margin-top: -20px;

    letter-spacing: -5px;
  }
  header .banner-text #where {
    font-size: 21px;
    margin-bottom: -45px;
    letter-spacing: -1.5px;
  }
  header .banner-text #creativity {
    font-size: 58px;
    margin-bottom: -10px;
    letter-spacing: -2px;
  }
  header .banner-text #and {
    font-size: 53px;

    letter-spacing: 1px;
  }
  header .banner-text #code {
    font-size: 53px;
    letter-spacing: 3px;
  }
  header .banner-text #meet {
    font-size: 55px;
    letter-spacing: -0.5px;
    margin-top: -45px;
    margin-bottom: -90px;
  }
  header .banner-text #construction {
    letter-spacing: 3px;
  }

  /* header social links */
  header .social {
    margin-top: -60px;
    font-size: 20px;
  }
  header .social li {
    margin: 0 10px;
  }
}
