.App {
  text-align: center;
}

body {
  /* background: #242424; */
  background: rgb(214, 215, 212);
}
.noscroll {
  overflow: hidden;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(./shared/fonts/ProximaNovaReg.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(./shared/fonts/ProximaNovaBold.otf);
  font-weight: 600;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(./shared/fonts/ProximaNovaLight.otf);
  font-weight: 200;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(./shared/fonts/ProximaNovaBlack.otf);
  font-weight: 800;
}
